html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --Red: #ff6257;
  --Blue800: #242742;
  --Blue700: #36384e;
  --Grey: #949494;
  --White: #ffffff;
}

h1 {
  font-size: clamp(2rem, 2.5vw, 3.5rem);
  line-height: 1.25;
  font-weight: 700;
}

h2 {
  font-size: 1rem;
  font-weight: 700;
}

.big {
  font-size: clamp(1.5rem, 2vw, 2rem);
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

body {
  line-height: 1;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 45rem) {
  body {
    background-color: var(--Blue700);
    align-items: center;
  }
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--White);
}
@media screen and (min-width: 45rem) {
  main {
    flex-direction: row-reverse;
    max-width: 50rem;
    border-radius: 1.5rem;
    justify-content: center;
  }
}
main section#newsletterImage {
  width: 100%;
  padding: 0.75rem;
}
@media screen and (min-width: 45rem) {
  main section#newsletterImage {
    height: 100%;
  }
}
main section#newsletterImage img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  aspect-ratio: 16/12;
  border-radius: 0 0 1rem 1rem;
}
@media screen and (min-width: 45rem) {
  main section#newsletterImage img {
    top: 0;
    left: 0;
    -o-object-fit: fill;
       object-fit: fill;
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
    aspect-ratio: auto;
  }
}
main section#newsletterText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 2rem;
}
@media screen and (min-width: 45rem) {
  main section#newsletterText {
    padding: 3rem;
  }
}
main section#newsletterText ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
main section#newsletterText ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
main section#newsletterText form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}
main section#newsletterText form #inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main section#newsletterText form #inputContainer label {
  font-size: 1rem;
  font-weight: 700;
}
main section#newsletterText form #inputContainer input {
  margin-top: 0.25rem;
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid var(--Grey);
  border-radius: 0.5rem;
  color: var(--Blue800);
  width: 100%;
  transition: all 0.2s ease-in-out;
}
main section#newsletterText form #inputContainer input .touched {
  border-color: var(--Red);
  color: var(--Red);
  box-shadow: none;
}
main section#newsletterText form #inputContainer input .touched:invalid {
  border-color: var(--Red);
  color: var(--Red);
  box-shadow: none;
}
main section#newsletterText form #inputContainer input .touched:focus {
  border-color: var(--Red);
  color: var(--Red);
  box-shadow: none;
}
main section#newsletterText form #inputContainer input:hover {
  outline: none;
  border-color: var(--Red);
  box-shadow: rgba(255, 98, 87, 0.1882352941) 0 0 0.5rem 0.1rem;
}
main section#newsletterText form #inputContainer .error {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: var(--Red);
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}
main section#newsletterText form #inputContainer .error.active {
  padding: 0.3rem;
}
main section#newsletterText form button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 1rem;
  color: var(--White);
  background-color: var(--Blue800);
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}
main section#newsletterText form button:hover {
  background-color: #ff6257;
  background-color: linear-gradient(90deg, rgb(255, 98, 87) 0%, rgb(255, 156, 87) 100%);
  box-shadow: rgba(255, 98, 87, 0.2078431373) 0 4px 8px 4px;
}

#overlay {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s ease-in-out;
}
#overlay.active {
  display: flex;
  background-color: #242742;
  visibility: visible;
  opacity: 1;
}
#overlay #successContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  max-width: 45rem;
  background-color: var(--White);
  padding: 2rem;
  height: 100%;
}
@media screen and (min-width: 45rem) {
  #overlay #successContainer {
    height: auto;
    border-radius: 1.5rem;
    width: -moz-min-content;
    width: min-content;
    min-width: 24rem;
    max-width: 28rem;
  }
}
#overlay #successContainer #successMessage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
}
@media screen and (min-width: 45rem) {
  #overlay #successContainer #successMessage {
    margin-top: 0;
  }
}
@media screen and (min-width: 45rem) {
  #overlay #successContainer #successMessage h1 {
    font-size: clamp(2.5rem, 2.5vw, 4rem);
    letter-spacing: 0.05rem;
  }
}
#overlay #successContainer #successMessage p strong {
  font-weight: 700;
}
@media screen and (min-width: 45rem) {
  #overlay #successContainer #successMessage p {
    max-width: 32ch;
  }
}
#overlay #successContainer button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 1rem;
  color: var(--White);
  background-color: var(--Blue800);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#overlay #successContainer button:hover {
  background-color: #ff6257;
  background-color: linear-gradient(90deg, rgb(255, 98, 87) 0%, rgb(255, 156, 87) 100%);
  box-shadow: rgba(255, 98, 87, 0.2078431373) 0 4px 8px 4px;
}/*# sourceMappingURL=styles.css.map */